/*контейнер*/
.symbol-wrapper {
    display: inline-block;
}

/*пометить что он относится к нужному пользователю*/
.symbol-border {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.border-color-1 {
    color: #e01a76;
}

.border-color-2 {
    color: #1b6ec2;
}

.border-color-3 {
    color: #1eb400;
}

.border-color-4 {
    color: #b4b000;
}