/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  background-color: rgb(231, 235, 240);
}

header {
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.chat-input {
  width: 1px;
  height: 20px;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin-bottom: 3px;
}
.chat-input:focus {
  outline: none !important;
}

.user-contacts{
  border: 1px solid #000;
  width: 30%;
  height: 800px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 12px ;
  overflow: hidden;
}

.contacts{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.chat-place{
  border: 1px solid #000;
  width: 70%;
  height: 800px;
  position: relative;
  background-color: #fff;
  border-radius:  12px ;
}

.chat-place::before{
  content: "";
  background:  url("images/social-media-in-hand-drawn-doodles-seamless-pattern_39663-246.jpg");
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: auto;
}

.main-page{
  display: flex;
  position: relative;
}

.chat-text-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 800px;
  padding: 2px 0 2px 20px;
}
.chat-text{
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 0;
  padding-right: 10px;
  /*padding-bottom: 2px;*/
  white-space: break-spaces;
  max-height: 800px;
  overflow-y: auto;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,240,0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128,128,128,0.8);
}

.user {
  position: relative;
  padding: 8px 8px 8px 50px;
  display: block;
  cursor: pointer;
  /*margin: 0 16px 20px;*/
}

.user.selected {
  background-color: lightgray;
}

.avatar {
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.avatar-circle {
  display: block;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.ct-name {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ct-mood {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
